@import './Maps';

.scrollableDropdown > .vlDropdownMenu {
    @apply overflow-y-auto;
    max-height: 80vh;
}

.select-over-modal .vlOptions{
    position: fixed;
    left: auto !important;
    width: auto !important;
    top: 0px;
}