@import './Maps';

.scrollableDropdown > .vlDropdownMenu {
    @apply overflow-y-auto;
    max-height: 80vh;
}

.select-over-modal {
    --select-translate: 0px;
    --select-width: 200px;
}

.select-over-modal .vlOptions{
    position: fixed;
    left: auto !important;
    width: auto !important;
    top: 0px;

    transform: translateY(var(--select-translate)) !important;
    width: var(--select-width) !important;
}

.roles-manager-rows>* {
    flex: 1 1 0%;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply p-3;

    &>* {
        max-width: 100px;
    }

    &:nth-child(1) {
        width: 130px;
        min-width: 130px;
        justify-content: start;
        position: sticky;
        left: 0;
        z-index: 1;
    }
}